/*
            TYPESET 1.0.1
https://github.com/kikoooooooo/typeset
*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.6;
}

h6 {
  font-size: 1rem;
  line-height: 1.7;
}

p,
a,
ul,
ul li,
ol,
ol li,
dl,
dl dt,
dl dd,
table,
table thead,
table tbody,
table tfoot,
blockquote {
  font-size: 1.2rem;
}

mark {
  padding: 0.05rem 0.1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
}

small {
  opacity: 0.75;
}

ins {
  text-decoration: underline;
}

rt {
  font-size: 65%;
  line-height: 1.5;
}

figcaption, caption {
  max-width: 40rem;
  margin: 1rem;
  text-align: left;
  font-style: italic;
  font-size: medium;
}

sub, sup {
  line-height: 0;
}

code, kbd, pre, var, samp {
  font-family: ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Consolas,
  Liberation Mono,
  monospace;
  font-size: 85%;
  font-style: normal;
}

code, kbd {
  padding: .2rem .4rem;
  margin: 0;
  white-space: break-spaces;
  background-color: rgba(120, 124, 129, 0.4);
  border-radius: 6px;
}

ul, ol {
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 1.5rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0.5rem 1.5rem;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

ol ol li {
  list-style-type: lower-latin;
}

ol ol ol li {
  list-style-type: lower-roman;
}

dl {
  margin: 0 0 1.5rem 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
}

dt:before {
  content: "– ";
}

dd:before {
  content: "• ";
}

table, pre, iframe {
  margin: 2.5rem 0 2.5rem 0;
}

table, iframe {
  width: 100%;
  max-width: 100%;
}

table {
  background-color: transparent;
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem;
  vertical-align: top;
  border: 2px solid;
}

tr:nth-child(even) {
  background-color: rgba(120, 124, 129, 0.4);
}

thead th {
  vertical-align: bottom;
}

pre {
  padding: 2rem;
  overflow: auto;
  line-height: 1.45;
  background-color: rgba(120, 124, 129, 0.4);
  border-radius: 6px;
}

iframe {
  height: 40rem;
  border: 2px solid;
}

blockquote {
  margin: 1em 0;
  padding: 1em;
  border-left: 3px solid #ccc;
  font-style: italic;
}

blockquote::before, blockquote::after {
  content: '"';
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
}
